
body {
margin: 0;
font-family: Arial, sans-serif;
}
/* Encabezado */
.header {
background: blue;
color: white;
text-align: center;
padding: 15px 0;
font-size: 20px;
}
/* Título */
.title-section {
background: blue;
color: white;
text-align: center;
padding: 40px 0;
font-size: 32px;
font-weight: bold;
text-transform: uppercase;
position: relative;
}

